div {
    display: flex;
    flex-direction: row;
    align-items: top;
    align-self: center;
    flex-basis: 100%;

}

article {
    padding: 5px;
    border: 2px solid red;
    width: 20%;
    margin: 5px;
}